
		
	 #app{
			display: flex;
			flex-direction: row;
			background-color: black;
			border:0px;
			
			
			}
	  html,
	  body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        background-color: black;
		order:2;
		display:flex;
		flex-direction:column;
		}
		#panel {
			height:100%;
			width:100%;
			
			color: white;
			backgroud-color:black;
		}
		#resultDiv{
			display: none;
		}
		.flexcroll{ width:400px;
            height:200px;
            overflow:scroll;
           }
		.flexcroll{
			scrollbar-face-color: #000000;
			scrollbar-shadow-color: #000000;
			scrollbar-highlight-color: #000000;
			scrollbar-3dlight-color: #000000;
			scrollbar-darkshadow-color: #000000;
			scrollbar-track-color: #000000;
			scrollbar-arrow-color: #000000;
		}

		/* Let's get this party started */
		.flexcroll::-webkit-scrollbar {
			width: 8px;
		}
		 
		/* Track */
		.flexcroll::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}
		 
		/* Handle */
		.flexcroll::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background: rgba(0,255,255,1); 
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		}
		.flexcroll::-webkit-scrollbar-corner{
			background: #000000;
		}
	 #bg{
		position:fixed;
		left:370px;
		top:130px;
		width:30px;
		padding:0;
		backgroud:black;
		
	  	
	  }
		#label{
			background : black;
			color: aqua;
			border-radius:4px;
			height:15px;
			text-align:center ;
			padding: 0;
			margin: 0;
			font-size:50% ;
		}
		
		#add{
			background : black;
			color: aqua;
			border-radius:4px;
			height:15px;
			text-align:center ;
			padding: 0;
			margin: 0;
			font-size: 1px;
		}
		
		 #Uncertain{
			background : black;
			color: aqua;
			border-radius:4px;
			height:20px;
			text-align:center ;
			font-size: 10px;
		}
		#deter{
			background : black;
			color: aqua;
			border-radius:4px;
			height:20px;
			text-align:center ;
			font-size: 10px;
		}
		
		#parkinglot{
			background : black;
			color: aqua;
			border-radius:4px;
			height:20px;
			text-align:center ;
			font-size: 10px;
		}
		#svi{
			background : black;
			color: aqua;
			border-radius:4px;
			height:20px;
			text-align:center ;
			font-size: 10px;
		}
		#left{
					width:340px;
					border:0px;
					overflow-y: scroll;
					overflow-x: scroll;
					background:black;
				}
				#border{
					display:none;
				}
				
				#gotolist{
					color = white;
					background: black;
					
					width: 250px;
					height: 400px;
					border: 1px solid aqua
					list-style: none;
					margin: 0;
					padding: 0;
				}
				
				#gotolist h3{
					padding: 0px 5px;
					margin: 10px;
				}
		
		.panel-side {
		  padding: 2px;
		  box-sizing: border-box;
		  width: 250px;
		  height: 380px;
		  position: absolute;
		  top: 0;
		  right: 0;
		  color: #fff;
		  background-color: rgba(0, 0, 0, 0.6);
		  overflow: auto;
		  z-index: 60;
		}
		
		.panel-side h3 {
		  padding: 0 20px;
		  margin: 20px 0;
				text-align: left;
		}
		
		.panel-side ul {
		  list-style: none;
		  margin: 0;
		  padding: 0;
				color: aqua;
				text-align:left;
		}
		
		.panel-side li {
		  list-style: none;
		  padding: 10px 20px;
		}
		
		.panel-result {
		  cursor: pointer;
		  margin: 2px 0;
		  background-color: rgba(227, 250, 255, 0.3);
		}
		
		.panel-result:hover,
		.panel-result:focus {
		  color: orange;
		  background-color: rgba(0, 0, 0, 0.75);
		}
		
		#Point-Infrastructures1,#Point-Infrastructures2{
				  display: none;
		}
		#Sea-level-Rise,#Uncertainty-Result,#Point-Infrastructures-select{
			background: black;
			color:aqua;
		}
		#uncertainbox{
			display : block;
		}
		/* #svi{
			background : black;
			color: aqua;
			position:fixed;
			left:580px; */
		}
		#select{
			background: black;
			color: aqua;
			width: 140px;
			height:20px;
			position:fixed;
			left:695px;
			
		
			
		}
		/* #Uncertainty-Result{
			background: black;
			color: aqua;
			width: 150px;
			height:20px;
			position:fixed;
			left:845px;  
			line-height:28px;  
			border:1px solid #9bc0dd;  
			-moz-border-radius:2px;  
			-webkit-border-radius:2px;  
			border-radius:2px;
			} */
		
			
		#go{
			background : black;
			color: aqua;
			position:fixed;
			left:370px;
			bottom:640px;
			
		}
		#containerDiv {
        background-color: black;
        padding: 3px;
        text-align: center;
				color:ghostwhite;
				display: none;
				order:1
      }

    #title {
        font-size: 13pt;
      }
		#esri_widgets_RendererSlider_0{
				background-color: black;
				
				
		}
		.esri-handle-label-span{
			  color:white;
		}
		
		.esri-histogram-group rect{
				fill: rgb(255,255,0);
				fill-opacity:1 ;
				border:0.5px solid white;
		}
		#sliderContainer {
        display: flex;
        flex-flow: row;
				width:100%;
        padding: 0 12px;
				order:2
      }

      #sliderValue {
        flex: 0 0 100px;
        order: 1;

        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        font-size: 300%;
      }

      #sliderInnerContainer {
        flex: 1 1 auto;
        order: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
      }

      #sliderLabels {
        flex: 1 1 auto;
        order: 1;
		width:100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }

      #rangeWrapper {
        flex: 1 1 auto;
        order: 2;

        position: relative;
        padding: 0 20px;
      }

      #slideryear {
        width: 100%;
      }
	  #playButton {
        flex: 0 0 100px;
        order: 3;

        margin: 20px 0;
      }

      .toggle-button {
        display: flex;
      }

      .toggle-button.toggled .toggle-button-icon {
        color: #cc1b1b;
      }

      .toggle-button .toggle-button-icon {
        color: #1bcc1b;
      }

      .toggle-button > :nth-child(2) {
        display: none;
      }

      .toggle-button.toggled > :nth-child(1) {
        display: none;
      }

      .toggle-button.toggled > :nth-child(2) {
        display: block;
      }
			
			#vertical_slider_container{
				order:2;
				height:789px;
				width:90px;
				
			}
			
			#vertical_slider_innercontainer{
				height:98%;
				position:absolute;
				order:2;
				display:flex;
				flex-direction: column;
				width:90px;
				
			}
			
			#probability_container{
				text-align: center;
				order:2;
				font-size:300%;
				margin-top:30px;
			}
			
			#innerinnercontainer{
				order:1;
				position:absolute;
				display:flex;
				flex-direction:row;
				height:100%;
			}
			#yearnumber{
				order:1;
				display:flex;
				flex-direction: column;
				width:40px;
				align-items: stretch;
				justify-content: space-between;
				height:80%;
				margin-top:80px;
				margin-bottom: 60px;
				
			
			}
			#vertical_slider{
				order:2;
				-webkit-appearance: slider-vertical;
				data-orientation="vertical";
				height:80%;
				margin-top: 80px;
				margin-left:0px;
				width:40px;
				}	
			.year{
				color:white;
			}
			
			#note{
				order:3
				margin-left:0px;
			}
			#button{
				left:100px;
				
			}
			p,li{
				font-size:14px;
			}
			
			
			#Deterministic {
			background-color: black;
			padding: 10px;
			width: 260px;
			margin: 5px;
			/* position: absolute;
			bottom: 15px;
			right: 10px; */
			font-size: 14px;
			/* display: blcok; */
			}
			
			#infoDiv {
			background-color: black;
			padding: 10px;
			width: 260px;
			margin: 5px;
			position: absolute;
			bottom: 15px;
			right: 10px;
			font-size: 14px;
			display: block;
			}
			
			.geometry-options{
				display:flex;
				flex-direction: row;
			}
			.geometry-button {
				flex: 1;
				border-style: solid;
				border-width: 1px;
				border-image: none;
			  }
			.geometry-button-selected {
				background: #FFFFFF;
				color: #008000;
			  }
			.options {
				max-width: 260px;
				width: 100%;
				height: 25px;
			  }
			  #bufferNum {
				width: 80%;
			  }
			  #opacity {
				width: 79%;
			  }

			#introduction{
				display:block;
			}
			#choice-Display{
				display: none;
				
				left: 50%;
			}
			 #SLR-Year-display{
				 float:left;
				 border-top:2px solid white;
				 border-bottom:2px solid white;
				 
				 border-left:2px solid white;
				 width:140px;
				 height:55px;
				 padding: 10px;
				 text-align: center;
			 }
			 #SLR-display{
				 font-family: "arial rounded mt bold";
				 font-size: 15px;
				 padding: 0px;
				 
			 }
			 #Year-display{
				 font-family: "arial rounded mt bold";
				 font-size: 20px;
				 position:relative;
				 
			 }
			
			 #Infra-Uncertain-display{
				 float:left;
				 border-top:2px solid white;
				 border-bottom:2px solid white;
				 border-right:2px solid white;
				 width:140px;
				 height:55px;
				 padding: 10px;
				 text-align: center;
				 
			 }
			  #Infra-display{
			 				 font-family: "arial rounded mt bold";
			 				 font-size: 10px;
			 				 
			 				 
			 }
			 #Uncertainty-display{
				 font-family: "arial rounded mt bold";
				 font-size: 12px;
			 }
			 .d3-tip {
			  line-height: 1;
			  font-weight: bold;
			  padding: 12px;
			  background: rgba(255, 255, 255, 0.8);
			  color: #fff;
			  border-radius: 2px;
			}

			/* Creates a small triangle extender for the tooltip */
			.d3-tip:after {
			  box-sizing: border-box;
			  display: inline;
			  font-size: 10px;
			  width: 100%;
			  line-height: 1;
			  color: rgba(255, 255, 255, 0.8);
			  content: "\25BC";
			  position: absolute;
			  text-align: center;
			}

			/* Style northward tooltips differently */
			.d3-tip.n:after {
			  margin: -1px 0 0 0;
			  top: 100%;
			  left: 0;
			}
			#material-chart{
				margin-left:100px;
			}
			#deter-chart{
				margin-left:100px;
			}
			#uncertain-chart{
				margin-left:100px;
			}
			#population_select{
				font-size: 150%;
			}
			#Total_area{
				font-size:150%
			}
			#word-cloud{
				
				margin-left:75px
			}
			
			#a1,#a2,#a3,#a4,#b1,#b2,#b3,#b4,#b5,#a5,#a6{
			
				cursor: pointer;
				
			}
			#purpose,#whatis,#howbuilt,#Supplement,#Main,#drawing,#dashboard,#technique,#whowe,#acknow
			{
				display: none;
			}
			
			.controler:hover{
				color:aqua;
			}
			
			.sublist{
				display:none
			}
			#tool_name{
				border-bottom: 1px solid white;
				border-top :1px solid white;
				padding-bottom: 8px;
				padding-top:8px;


				
			}
			#align_box{
				width:240px;
				float:left;
				
			}
			